/**Layout for multi-column site

/** only difference from one column is you add container and copy/paste attributes in the section and put in the container then add new section attributes

/**start by zeroing out body- margin and padding
/**/
body {*/
  margin: 0;
  padding: 0;
}
header, footer {
  width: 100%;
  background-color: black;
}
/** when you inspect element, zeroing out the nav ul will remove the orange around the navs
/**/

/**the space btw nav and ul means that all the ul in the nav header/footer will be affected
/**/
nav ul {
  margin: 0;
  padding: 0;
}
 /**styling only the li elements in the nav
 /**/
nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  background-color: red;
}
/** use the carrot to only affect the a links in the li --the li may eventually have other child elements like an img that you don't want to affect /
/**/
nav li > a{
  text-decoration: none;
  color: white;
}
nav li:hover {
  background-color: red;
}
/**  margin: 0 auto with center everything within whatever width you give
/**/
.container {
  width: 80%;
  margin: 0 auto;
  background-color: yellow;
}
/**  use vertical-align so that if you have more content in one section it lines up at the top
/**/
section {
  border: 1px black;
  display: inline-block;
  width: 49%;
  vertical-align: top;

}
.cols {
  vertical-align: top;
  display: inline-block;
}
.col1 {
  background-color: blue;
  width:100%;
}
.col2 {
  background-color: green;
  width:49%;
}
.col3 {
  background-color: pink;
  width:33%;
}
.col6 {
  background-color: red;
  width:15%;
}
