/**Layout for 1 column site

/**start by zeroing out body- margin and padding
/**/
body {*/
  margin: 0;
  padding: 0;
}
header, footer {
  width: 100%;
  background-color: black;
}
/** when you inspect element, zeroing out the nav ul will remove the orange around the navs
/**/

/**the space btw nav and ul means that all the ul in the nav header/footer will be affected
/**/
nav ul {
  margin: 0;
  padding: 0;
}
 /**styling only the li elements in the nav
 /**/
nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  background-color: red;
}
/** use the carrot to only affect the a links in the li --the li may eventually have other child elements like an img that you don't want to affect /
/**/
nav li > a{
  text-decoration: none;
  color: white;
}
nav li:hover {
  background-color: red;
}
/**  margin: 0 auto with center everything within whatever width you give
/**/
section {
  width: 80%;
  margin: 0 auto;
  background-color: yellow;
}
